# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\GiorginoSerbuciano\Leuphana\0004_SoSe_2021\0007_New_Digital_Literacy\p5aiui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
